.rqm {
  .quote-container {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .quote-text {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .api-reference {
    margin-top: 55px;
  }
  .quote-appear {
    .quote-text, .quote-author {
      animation: fade-in 2s;
    }
  }
  .quote-disappear {
    .quote-text, .quote-author {
      animation: fade-out 2s;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }

}
